.header-container {
  z-index: 3;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  position: sticky;
  top: 0;
  margin-bottom: 40px;

  background-color: var(--primary-color0);
  box-shadow: 0px 0px 8px 1px var(--primary-color0);

  .header-wrap {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 300px;

    .logo-icon {
      width: 30px;
      height: 30px;
      margin-right: 24px;

      path {
        fill: var(--text-header);
      }
    }

    .app-name {
      color: var(--text-header);
      font-size: 24px;
    }
  }
  .header-navigation {
    width: 500px;
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      &:not(:last-child) {
        margin-right: 26px;
      }
    }

    a {
      color: var(--text-header);

      &:hover {
        color: var(--primary-color2);
      }

      &._active {
        font-weight: 800;
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

.header-username {
  color: var(--text-header);
}

.icon-button {
  cursor: pointer;
  width: 24px;
  height: 24px;

  path {
    fill: var(--text-header);
  }

  &:hover {
    path {
      fill: var(--primary-color2);
    }
  }
}

.header-theme {
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-self: flex-start;
  path {
    fill: var(--text-header);
  }
  &:hover {
    path {
      fill: var(--primary-color2);
    }
  }
}
