* {
  --background-color: #ded7e6;
  --card-color: #f3eff8;
  --primary-color0: #7608aa;
  --primary-color1: #897fba;
  --primary-color2: #b165d4;

  --header-color: #111111;
  --text-color: #424242;
  --text-header: #f3eff8;
  --book-liked: #33aa33;
  --book-disliked: #aa3333;
  --book-bookmarked: #faaa33;

  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
