* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  --background-color: #e7d6fc;
  --card-color: #f3eff8;
  --primary-color0: #7608aa;
  --primary-color1: #897fba;
  --primary-color2: #b165d4;

  --bookpage-background-color: #f3eff8;
  --text-color: #2c2c2c;
  --text-header: #f3eff8;
  --book-liked: #33aa33;
  --book-disliked: #aa3333;
  --book-bookmarked: #faaa33;
}

body[data-theme="dark"] {
  --background-color: #211b29;
  --card-color: #513079;
  --primary-color0: #390053;
  --primary-color1: #675d97;
  --primary-color2: #ad37e4;

  --bookpage-background-color: #675d97;
  --input-background-color: #675d97;
  --form-background-color: #390053;
  --text-color: #f3eff8;
  --text-header: #f3eff8;
  --book-liked: #1a771a;
  --book-disliked: #d12f2f;
  --book-bookmarked: #f19f22;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
