.books-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  color: var(--text-color);
}
.filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .select {
    margin-right: 20px;
    height: 34px;
    color: var(--text-color);
  }

  .select-search {
    margin: 0 20px;
  }
}

.selected-books-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .select__item {
    color: var(--text-color);
  }
}

.acc {
  font-size: 30px;
  color: red;
}
