.books-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
}
.filter-container {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
