.bookpage-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: var(--bookpage-background-color);

  .image-wrap {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid var(--primary-color0);
  }

  .bookpage__description {
    padding: 15px;
    color: var(--text-color);
  }
  .title {
    font-size: 24px;
    margin-bottom: 24px;
    color: var(--text-color);
    margin: auto;
    align-content: center;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 24px;
    color: var(--text-color);
    margin: auto;
    align-content: center;
  }

  .authors {
    font-size: 18px;
    color: var(--text-color);
  }
  .publisher {
    font-size: 18px;
    color: var(--text-color);
  }
  .description {
    font-size: 16px;
    color: var(--text-color);

    flex-grow: 1;
  }
  .price {
    font-size: 16px;
    color: var(--primary-color0);
  }
}
