.bookpage-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 10px;

  .bookpage__image {
    width: 300px;
  }

  .image {
    width: 100%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
    color: var(--text-color);
    margin: auto;
    align-content: center;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 24px;
    color: var(--text-color);
    margin: auto;
    align-content: center;
  }

  .book-details-wrap {
    .authors {
      font-size: 18px;
      color: var(--text-color);
    }
    .publisher {
      font-size: 18px;
      color: var(--text-color);
    }
    .description {
      font-size: 16px;
      color: var(--text-color);

      /*  flex-grow: 1; */
    }
    .price {
      font-size: 16px;
      color: #0091ea;
    }
  }
}
